/kubernetes/secret
/docker/ckan/postgresql
/docker/ckan/solr8
/docker/oxwall/msmtprc
nbproject
.settings
.project
.buildpath
.DS_Store
.idea
error_log
access_log
blank
build
.owr
owr.sh
owr.py
composer.phar
composer.lock
.env
.ckan-env

/docker/vhost.d/*
!/docker/vhost.d/host-url
!/docker/vhost.d/ns3070762.ip-37-59-57.eu