<link rel="import" href="{$components_url}bower_components/paper-fab/paper-fab.html">
<link rel="import" href="{$components_url}bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="{$components_url}bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="{$components_url}bower_components/paper-styles/color.html">
<link rel="import" href="{$components_url}bower_components/iron-flex-layout/iron-flex-layout.html">

<style>
    .floatbox_header{
        display: none;
    }

    .floatbox_body{
        font-family: 'Roboto', sans-serif;
        background-color: #eeeeee;
        padding : 3px;
    }


    #scroll_content{
        position: relative;
        overflow: scroll;
    }
    div.cell{
        padding: 20px;
        margin-left: 20px;
    }

    ul.cell-list {
        list-style-type: circle;
    }

    li{
        margin-left: 20px;
    }

    .tall {
        background-color: #2196F3;
    }

    .tall .title {
        padding: 20px;
        font-size: 40px;
        color: #ffffff;
        /*width: 30%;*/
        position: relative;
        float: left;
    }

    .tall .description{
        padding: 20px;
        font-size: 15px;
        color: #ffffff;
        /*width: 70%;*/
        position: relative;
        float: left;
    }

    .sect{
        border: 1px solid #bebebe; padding: 16px; margin: 16px; border-radius: 5px; background-color: #fff; color: #555;
    }

    .section-number{
        display: inline-block; height: 64px; width: 64px; border-radius: 50%; background: #ddd; line-height: 64px; font-size: 30px; color: #666; text-align: center;
    }

    .section-title{
        font-size: 22px; padding-top: 18px; color: #888;margin-left: 20px;
    }
    .section-paragraph{
        font-size: 18px; padding-top: 18px; color: #888;margin-left: 20px;
    }


</style>

<div class="layout vertical">

    <div class="tall">
        <div class="title">Tutoriel de la section "Co-Création"</div>
        <div class="description">
            La Co-Création est un espace collaboratif pour permettre aux utilisateurs de collaborer et partager des connaissances ou des données.
            L'espace est destiné à être utilisé par des petits groupes, où les utilisateurs sont invités à participer par le créateur de la salle.
            Il existe deux sortes de éspaces: une salle "connaissance" de Cocreation, où le groupe est invité à réfléchir sur l'Open Data pour
            répondre à des problèmes et rendre les données plus simples et accessibles, et une salle "données" de Co-Création, où il est possible de créer en mode collaboratif des jeux de données.
        </div>
    </div>

    <div class="content" id="scroll_content">
        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/cocreationroom_fr.png" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">1</div>
                        <div class="section-title">Co-Création</div>
                    </div>
                    <div>
                        <p>Dans une salle de Co-Création vous pouvez trouver:</p>
                    </div>

                    <div class="horizontal layout cell">
                        <paper-fab id="description_fab" mini="" icon="description"></paper-fab>
                        <p>Une salle "connaissance</p>
                    </div>

                    <div class="horizontal layout cell">
                        <paper-fab id="assessment_fab"  mini="" icon="assessment"  ></paper-fab>
                        <p> Une salle "données"<p>
                    </div>

                    <div class="horizontal layout cell">
                        <paper-fab id="media_fab"  mini="" icon="image:collections"  ></paper-fab>
                        <p> Une salle multimédia<p>
                    </div>

                    <div class="horizontal layout cell">
                        <paper-fab id="view_datasets"  mini icon="view-list"> </paper-fab>
                        <p>Un vue sur tous les jeux de données</p>
                    </div>

                </div>
            </div>
        </div>


        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/viewalldatasets_fr.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                        <div class="horizontal layout cell">
                            <div class="section-number">2</div>
                            <paper-fab id="view_datasets"  mini icon="view-list"> </paper-fab>
                            <div class="section-title">Tous les jeux de données</div>
                        </div>
                        <div>
                            <p>
                                Cette fonctionnalité permet de voir tous les jeux de données co-créés dans des salles de co-création.
                                Pour chaque jeu de données vous pouvez:</p>
                        </div>

                        <ul class="cell-list">
                            <li> Visualiser un jeu de données publié dans une calle de Co-Création, </li>
                            <li> Télécharger un jeu de données en format CSV,</li>
                            <li> Copier le URL du jeu de données,</li>
                            <li> Télécharger les notes du jeu de données en format html.</li>
                        </ul>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/createroom_fr.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">3</div>
                        <div class="section-title">Créer une salle</div>
                    </div>
                    <div>
                        <p>
                        To create a new room, just press the big "+" (Add) button on the bottom right,
                        and insert the required information:
                        Pour créer une nouvelle salle, cliquer sur le bouton "+" en bas à gauche de la page d'accueil de l'éspace de la co-création,
                        puis indiquez les informations requises:
                        <ul class="cell-list">
                            <li> Nom de la salle </li>
                            <li> Sujet </li>
                            <li> Description </li>
                            <li> Période (attention c'est une simple estimation)</li>
                            <li> Objectif </li>
                            <li> Texte d'invitation </li>
                            <li> Membres initials </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/explore_fr.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">4</div>
                        <div class="section-title">Explorer</div>
                    </div>
                    <div>
                        Cette fonctionnalité permet d'ouvrir une salle.
                    </div>
                </div>
            </div>
        </div>



        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/aboutroom_fr.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">5</div>
                        <div class="section-title">Toutes les fonctionnalités</div>
                    </div>

                    <ul class="cell-list">
                        <li>
                            <paper-icon-button icon="menu" style=" width: 50px; height: 50px;"></paper-icon-button>
                            Elle permet de selectionner toutes les fonctionnalités comme créer un jeu de données, un datalet, des metadonnées, des notes, commencer une discussion, etc.
                        </li>

                        <li>
                            <paper-icon-button id="info_room_button" icon="info" on-tap="_openInfo"  style="color: #212121; width: 50px; height: 50px;"></paper-icon-button>
                            Elle montre les informations d'une salle</p>
                        </li>

                        <li>
                            <paper-icon-button   icon="add" style="color: #00BCD4;" ></paper-icon-button>
                            Elle permet de rajouter des membres à une salle.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

