<link rel="import" href="{$components_url}bower_components/paper-fab/paper-fab.html">
<link rel="import" href="{$components_url}bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="{$components_url}bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="{$components_url}bower_components/paper-styles/color.html">
<link rel="import" href="{$components_url}bower_components/iron-flex-layout/iron-flex-layout.html">

<style>
    .floatbox_header{
        display: none;
    }

    .floatbox_body{
        font-family: 'Roboto', sans-serif;
        background-color: #eeeeee;
        padding : 3px;
    }

    #scroll_content{
        position: relative;
        overflow: scroll;
    }
    div.cell{
        padding: 20px;
        margin-left: 20px;
    }

    ul.cell-list {
        list-style-type: circle;
    }

    li{
        margin-left: 20px;
    }

    .tall {
        background-color: #2196F3;
    }

    .tall .title {
        padding: 20px;
        font-size: 40px;
        color: #ffffff;
        /*width: 30%;*/
        position: relative;
        float: left;
    }

    .tall .description{
        padding: 20px;
        font-size: 15px;
        color: #ffffff;
        /*width: 70%;*/
        position: relative;
        float: left;
    }

    .sect{
        border: 1px solid #bebebe; padding: 16px; margin: 16px; border-radius: 5px; background-color: #fff; color: #555;
    }

    .section-number{
        display: inline-block; height: 64px; width: 64px; border-radius: 50%; background: #ddd; line-height: 64px; font-size: 30px; color: #666; text-align: center;
    }

    .section-title{
        font-size: 22px; padding-top: 18px; color: #888;margin-left: 20px;
    }

    .iron-icon-8 {
        fill: #00BCD4;;

    }
    .paper-button-0 {
        height: 20px;
        margin-left: 16px;
    }
</style>

<div class="layout vertical">

    <div class="tall">
        <div class="title">Helper per la stanza di Cocreazione dei dati e  media</div>
        <div class="description">
            Questo tipo di stanza permette al gruppo di utenti di collaborare su di  un foglio di lavoro condiviso per creare un dataset.
            Il processo è supportato scrivendo note condivise (con un modello che aiuta la comunità a dare tutte le informazioni rilevanti sul processo) e metadati condivisi,
            che sono pubblicati con il dataset. Inoltre, quando il dataset  viene pubblicato per gli altri utenti SPOD, diverse euristiche di convalida vengono utilizzate per
            mostrare le avvertenze sui campi apparentemente sbagliate. Quando  sarà pubblicato, il dataset  può essere utilizzato (nel tab “Dataset cocreati” nel primo step della controllet )
            da tutti gli utenti SPOD nelle loro discussioni.

            Ci sono due tipi di stanze, una per i dati e un' altra stanza specifica per dati di tipo media. Il colore identifica il tipo di stanza, cioè il verde identifica
            la stanza dei dati e l'arancione la stanza dei media.
            Le stanze sono sincronizzate sull'applicazione mobile della piattaforma SPOD. Utilizzando l'app di SPOD, gli utenti non solo condividono il contenuto (ad esempio, le foto)
            ma le foto includeranno anche la geolocalizzazione automatica per ogni foto.
        </div>
    </div>

    <div class="content" id="scroll_content">

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/cocreation_sync_it.png" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">1</div>
                        <div class="section-title">La sincronizzazione</div>
                    </div>
                    <div>
                        Le  stanze sincronizzate dei dati e quella dei media presentano le stesse funzionalità, in particolare la stanza dei media presenta un numero di colonne già organizzate
                        (Title, Description, Image, Location, Date, User) che saranno completate con dati quando si scatta una foto da un cellulare.<br>
                        L' app Android di SPOD è disponibile su Google Play all' indirizzo <a href="https://play.google.com/store/apps/details?id=eu.spod.isislab.spodapp&hl=it"  target="_blank"> SPOD mobile app</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/data_room_it.png" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">1</div>
                        <div class="section-title">Caratteristiche della stanza</div>
                    </div>
                    <div>
                        <ul class="cell-list">
                            <li><paper-icon-button id="publish_dataset_button"  icon="image:grid-on" style='color: #4CAF50' ></paper-icon-button>
                                 <b>Dataset</b> presenta un foglio di calcolo condiviso  per inserire i dati, importare ed esportare un documento nel formato CSV.
                            </li>
                            <li>
                                <paper-icon-button   icon="maps:local-offer" style="color:#FF5722;" ></paper-icon-button>
                                <b>Metadata</b>  presenta una scheda per  inserire i metadati per il dataset.
                            </li>
                            <li>
                                <paper-icon-button   icon="description" style="color: #2196F3;" ></paper-icon-button>
                                 <b>Note</b> è un documento per aggiungere note al dataset (ad esempio fonti, bibliografie, etc).
                            </li>
                            <li>
                                <paper-icon-button  icon="communication:forum" style="color: #212121;" ></paper-icon-button>
                                Uno spazio per le discussioni è disponibile con notifiche per i messaggi ricevuti e ancora non letti.
                            </li>
                            <li>
                                <paper-icon-button   icon="assessment" style="color: #212121;" ></paper-icon-button>
                                Si possono creare visualizzazioni, cioè grafici (chiamati datalets).
                            </li>
                            <li>
                                <paper-icon-button   icon="info" style="color: #212121;" ></paper-icon-button>
                                Si possono visualizzare dettagli della stanza (ad esempio, nome, descrizione etc. della stanza)
                            </li>
                            <li>
                                <iron-icon id="screen_1" icon="av:airplay" class="x-scope iron-icon-8"><svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" class="style-scope iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                    <g class="style-scope iron-icon"><path d="M6 22h12l-6-6zM21 3H3c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h4v-2H3V5h18v12h-4v2h4c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z" class="style-scope iron-icon"></path></g></svg>
                                </iron-icon>
                                <iron-icon id="screen_2" icon="av:airplay" class="x-scope iron-icon-8" style="color: #00BCD4;" >
                                    <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" class="style-scope iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g class="style-scope iron-icon"><path d="M6 22h12l-6-6zM21 3H3c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h4v-2H3V5h18v12h-4v2h4c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z" class="style-scope iron-icon"></path></g></svg>
                                </iron-icon>
                                Si può scegliere il tipo di visualizzazione, cioè si può visualizzare una funzionalità alla volta (ad esempio solo il foglio di calcolo),
                                oppure due funzionalità nello stesso tempo (ad esempio il foglio di calcolo e la discussione).
                            </li>
                            <li>
                                <paper-icon-button   icon="add" style="color: #00BCD4;" ></paper-icon-button>
                                Nuovi utenti possono essere invitati alla stanza.
                            </li>
                            <li>
                                <paper-button raised="" tabindex="0" animated="" aria-disabled="false" elevation="1" class="x-scope paper-button-0">Pubblica il dataset su SPOD  </paper-button>
                                Pubblicazione del dataset creato per tutti gli utenti di SPOD.
                            </li>
                            <li>
                                <paper-button raised="" class="menu_button x-scope paper-button-0" title="Import" role="button" tabindex="0" animated="" aria-disabled="false" elevation="1"> IMPORTA DA SPOD </paper-button>
                                importa dataset già creati  sulla piattaforma oppure quelli presenti sul portale degli Open Data.
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/quick_tour_it.gif" style="width: 60%; height: 60%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">2</div>
                        <div class="section-title">Una guida rapida</div>
                    </div>
                    <div>
                        <p>
                            Creazione e pubblicazione di un dataset:
                        <ol>
                            <li>1. <i> Creare un dataset nel foglio di calcolo: </i>
                                <ol style="list-style-type: lower-alpha; padding-bottom: 0;">
                                    <li style="margin-left:2em"> Creare (o importare) un nuovo dataset in collaborazione</li>
                                    <li style="margin-left:2em; padding-bottom: 0;"> Aggiungere le note al dataset (ad es. fonti etc.)</li>
                                    <li style="margin-left:2em; padding-bottom: 0;"> Aggiungere i metadati al dataset (come titolo, descrizione, etichette etc..) per facilitare la ricerca </li>
                                    <li style="margin-left:2em; padding-bottom: 0;"> Il dataset creato può essere visualizzato in un grafico (datalet)</li>
                                </ol>
                            </li>
                            <br>
                            <li> 2. <i>Pubblica il dataset: </i></br>
                                Clicca sul pulsante <paper-button raised="" tabindex="0" animated="" aria-disabled="false" elevation="1" class="x-scope paper-button-0">Pubblica il dataset su SPOD
                                   </paper-button>   per mettere a disposizione il  nuovo dataset creato a tutti gli utenti di SPOD e per renderlo
                                disponibile per creare una datalet  per discussioni nei modi tradizionali,
                                cioè si potrà condividere sulla pagina  Novità, nelle stanze di discussione dell’ Agora, etc. Si noti che ogni volta che lo stesso dataset viene pubblicato di nuovo, viene creata una nuova versione.
                            </li>
                           <br>
                            <li> 3. <i> Visualizzazione di grafici con il dataset creato:</i>  </br>
                                Nella controllet della piattaforma di SPOD , nella sezione "DATASET COCREATI",  saranno presenti i dataset creati,
                            </li>
                        </ol>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
