<style>
    .floatbox_header{
        display: none;
    }

    .floatbox_body {
        padding: 3px;
    }

    .floatbox_body * {
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
    }

    .floatbox_bottom{
        display: none;
    }

    .helper_content {
        background-color: #2196f3;
        color: #FFFFFF;
    }

    .helper_title {
        padding: 20px 20px 0px 20px;
        font-size: 40px;
        color: #ffffff;
        position: relative;
    }

    .helper_description_spacer {
        padding: 20px 10px 0px 20px;
    }

    .helper_description{
        height: 72px;
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="helper_content">

    <div class="helper_title">Assistance SPOD <span>(for a complete manual please click <a href="http://spod.routetopa.eu/Manual/SPODManualCurrentVersion.pdf" target="_blank" class="manual_link">here</a>)</span></div>
    <div class="helper_description_spacer">
        <div class="helper_description">
                Ceci est l'assistance de la plateforme <b>SPOD</b> (<b>S</b>ocial <b>P</b>latform for <b>O</b>pen<b>D</b>ata : Plateforme Social d&eacute;volue &agrave; la donn&eacute;e ouverte).
                L'objectif principal du SPOD est de faciliter la compr&eacute;hension des donn&eacute;es ouvertes, d'optimiser
                leur accessibilit&eacute; et enfin d'augmenter la transparence de la vie politique en favorisant l'exploitation
                collective de ces donn&eacute;es au sein d'un environnement convivial, intuitif, qui permet de stimuler l'int&eacute;
                ret et la cr&eacute;ativit&eacute; dans le secteur de l'Open Data.
        </div>
    </div>

</div>

<iframe src="{$staticResourcesUrl}pages/spod_manual/SPODHelperv0.1.htm" style="height: calc(100% - 145px)"></iframe>

