{form name='settings'}
<table class="ow_table_1 ow_form ow_automargin">
    <tr class="ow_alt1">
        <td class="ow_value">Firebase API key</td>
        <td class="ow_value">{input name='firebase_api_key'}</td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_value">Elastic Mail API key</td>
        <td class="ow_value">{input name='elastic_mail_api_key'}</td>
    </tr>
    <tr>
        <td colspan="2" class="ow_center">{submit name='add' class='ow_button ow_ic_save'}</td>
    </tr>
</table>
{/form}