{$menu}

{form name='settings'}
<table class="ow_table_1 ow_automargin">
    <tr class="">
        <td width="50%">
            SPLOD
        </td>
        <td width="50%">
            {input name='SPLOD_visible'}
        </td>
    </tr>
    <tr class="">
        <td width="50%">
            MAPLET
        </td>
        <td width="50%">
            {input name='Maplet_visible'}
        </td>
    </tr>
    </tr>
        <td colspan="2" class="ow_center">{submit name='add' class='ow_button ow_ic_save'}</td>
    </tr>
</table>
{/form}