{$menu}

{form name='settings'}
<table class="ow_table_1 ow_form ow_automargin">
    <tr class="ow_alt1">
        <td class="ow_value">DEEP URL</td>
        <td class="ow_value">{input name='deep_url'}</td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_value">DEEP DATALET LIST</td>
        <td class="ow_value">{input name='deep_datalet_list'}</td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_value">DEEP CLIENT</td>
        <td class="ow_value">{input name='deep_client'}</td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_value">DEEP COMPONENTS</td>
        <td class="ow_value">{input name='components_url'}</td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_value">POLYMER POLYFILL</td>
        <td class="ow_value">{input name='webcomponents_js'}</td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_value">DATALET POLYFILL</td>
        <td class="ow_value">{input name='datalet_polyfill'}</td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_value">ULTRACLARITY</td>
        <td class="ow_value">{input name='ultra_clarity_url'}</td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_value">ELASTIC MAIL API KEY</td>
        <td class="ow_value">{input name='elastic_mail_api_key'}</td>
    </tr>
    <tr>
        <td colspan="2" class="ow_center">{submit name='add' class='ow_button ow_ic_save'}</td>
    </tr>
</table>
{/form}